.photouser {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.bottom {
  margin-bottom: 30px;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.itemUser {
  display: flex;
  margin: 5%;
  color: aliceblue;
}
.selectedPage {
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
}
.container{
  margin: auto;
}
.pagerContainer{

  display: flex;
  max-width: 1000px;
  justify-content: center;
}
.pager{
  margin-top: 20px;
}
