.descriptionBlock {
    padding: 5px;
}
.ava {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.des {
    padding: 0%;
    list-style: none;
    margin: 0%;
}
.des_item {
    padding: 0px;
    line-height: 10px;
    font-size: 18px;
    font-weight: 600;
}
.descriptionBlock a {
    color: chocolate;
}
/*display: flex;*/
.mainBlock{
    display: flex;
}
.title_contacts{
    margin-bottom: 20px;
}
